/* PHASE 3: Content */

.content {
  width: 900px;
  margin: auto;
  color: #000;
  background-color: #fff;

}

.content-sidebar {
  width: 200px;
  padding: 20px;
  float: left;
}

.content-main {
  width: 620px;
  padding: 20px;
  float: left;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;

}

.content p {

}

.content:after {
  content: "";
  display: block;
  clear: both;
}
